<div class="footer-top-area">
    <!-- <div class="zigzag-bottom"></div> -->
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="footer-about-us">
                    <h2>Toque Brasil</h2>
                    <h4>Lugar de realizar sonhos!</h4>
                    <p>Somos uma Loja especializada em Som Profissional e Instrumentos Musicais.<br>
                        Vendemos novos e seminovos e pegamos equipamentos como parte do pagamento.<br>
                        Temos o desejo de servir a todos proporcionando momentos únicos e significativos.</p>
                        <p>Faça-nos uma visita.</p>
                        
                    <div class="footer-social">
                        <a href="https://www.facebook.com/toquebrasilpirassununga" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.instagram.com/toquebrasil" target="_blank"><i class="fa fa-instagram"></i></a>
                        <a href="https://wa.me/5519998581980" target="blank"><i class="fab fa-whatsapp-square"></i></a>
                        <a href="https://www.youtube.com/channel/UCjWENuSH2gX55-y7QSZiWxA" target="_blank"><i class="fa fa-youtube"></i></a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-3 col-sm-6">
                <div class="footer-menu">
                    <h2 class="footer-wid-title">Categorias</h2>
                    <ul>
                        <li><a href="#">ÁUDIO</a></li>
                        <li><a href="#">INSTRUMENTOS</a></li>
                        <li><a href="#">TECLADOS</a></li>
                        <li><a href="#">PERCUSSÃO</a></li>
                        <li><a href="#">ACESSÓRIOS</a></li>
                        <li><a href="#">USADOS</a></li>
                        <li><a href="#">OFERTAS</a></li>
                        <li><a href="#">CARRINHO</a></li>
                    </ul>                        
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="footer-menu">
                    <h2 class="footer-wid-title" id="h2-pira">Loja Pirassununga </h2>
                        <ul class="lojas-footer">                                                     
                            <li onmouseover="changepira()" onmouseout="colorback()"><a href="tel:+55-19-3562-7011" target="_blank"><div class="fabs"><i class="fas fa-phone-square"></i></div><div class="desc">(19) 3562-7011</div></a></li>                        
                            <li onmouseover="changepira()" onmouseout="colorback()"><a href="https://wa.me/5519999378444" target="blank"><div class="fabs"><i class="fab fa-whatsapp-square"></i></div><div class="desc">Fale conosco</div></a></li>                            
                            <li onmouseover="changepira()" onmouseout="colorback()"><a href="https://www.facebook.com/toquebrasilpirassununga" target="blank"><div class="fabs"><i class="fab fa-facebook-square"></i></div><div class="desc"> Curta-nos</div></a></li>                         
                            <li onmouseover="changepira()" onmouseout="colorback()"><a href="https://www.instagram.com/toquebrasil/" target="blank"><div class="fabs"><i class="fab fa-instagram-square"></i></div><div class="desc"> Siga-nos</div></a></li>                                            
                            <li onmouseover="changepira()" onmouseout="colorback()"><a href="https://www.google.com/maps/place/Toque+Brasil+Instrumentos+Musicais/@-21.998174,-47.4315352,19z/data=!4m5!3m4!1s0x94c801668dcb4057:0xcfc2f39e14445cbc!8m2!3d-21.9981662!4d-47.4316911" target="_blank"><div class="fabs"><i class="fas fa-map-marker-alt"></i></div><div class="desc">Localização</div></a></li>   
                        </ul>                
                </div>
            </div>
            
            <div class="col-md-3 col-sm-6">
                <div class="footer-menu">
                    <h2 class="footer-wid-title" id="h2-porto">Loja Porto Ferreira</h2>
                        <ul class="lojas-footer">                                                               
                            <li onmouseover="changeporto()" onmouseout="colorbackp()"><a href="tel:+55-19-3562-7011" target="_blank"><div class="fabs"><i class="fas fa-phone-square"></i></div><div class="desc">(19) 3589-1005</div></a></li>    
                            <li onmouseover="changeporto()" onmouseout="colorbackp()"><a href="https://wa.me/5519996274163" target="blank"><div class="fabs"><i class="fab fa-whatsapp-square"></i></div><div class="desc">Fale conosco</div></a></li>                                             
                            <li onmouseover="changeporto()" onmouseout="colorbackp()"><a href="https://www.facebook.com/toquebrasilportoferreira" target="blank"><div class="fabs"><i class="fab fa-facebook-square"></i></div><div class="desc">Curta-nos</div></a></li>                                                   
                            <li onmouseover="changeporto()" onmouseout="colorbackp()"><a href="https://www.instagram.com/toquebrasil/" target="blank"><div class="fabs"><i class="fab fa-instagram-square"></i></div><div class="desc">Siga-nos</div></a></li>                                                 
                            <li onmouseover="changeporto()" onmouseout="colorbackp()"><a href="https://www.google.com/maps/dir/-21.9968749,-47.4289017/-21.8624451,-47.4788168/@-21.8624696,-47.478886,21z/data=!4m4!4m3!1m1!4e1!1m0" target="_blank"><div class="fabs"><i class="fas fa-map-marker-alt"></i></div><div class="desc">Localização</div></a></li>                                                                        
                        </ul>
                </div>    
            </div>
        </div>
    </div>
</div> <!-- End footer top area -->

<div class="footer-bottom-area">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="copyright">
                    <p>&copy; 2021 Assis Design. <a href="http://www.hcode.com.br" target="_blank">assis.com.br</a></p>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="footer-card-icon">
                    <i class="fa fa-cc-discover"></i>
                    <i class="fa fa-cc-mastercard"></i>
                    <i class="fa fa-cc-paypal"></i>
                    <i class="fa fa-cc-visa"></i>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End footer bottom area -->

<!-- Latest jQuery form server -->
<script src="https://code.jquery.com/jquery.min.js"></script>

<!-- Bootstrap JS form CDN -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<!-- jQuery sticky menu -->
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.sticky.js"></script>

<!-- jQuery easing -->
<script src="js/jquery.easing.1.3.min.js"></script>

<!-- Main Script -->
<script src="js/main.js"></script>

<!-- Slider -->
<script type="text/javascript" src="js/bxslider.min.js"></script>
<script type="text/javascript" src="js/script.slider.js"></script>
<script src="js/texteffect.js"></script>
</body>
</html>